:root {
    --primary-bg-color: #2f2fa2;
    --secondary-bg-color-darker: #242582;
    --secondary-btn-color: #b4183a;
    --primary-btn-color: #f64c72;
    --typhography-color: #553D67;
    --typhography-color-light: #99738e;
    --first-font: "Poppins", Arial, sans-serif
}

* {
    font-family: var(--first-font);
    scroll-behavior: smooth;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    font-family: var(--first-font);
    max-width: 100vw;

}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--typhography-color);
}

main {
    position: relative;
    font-family: var(--first-font);
    min-height: 100vh;
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
    position: relative;
    padding: 0px 100px;
}

.header-container {
    position: relative;
    height: 80px;
    box-sizing: border-box;
    z-index: 99;
    display: flex;

    /* padding: 20px 10 px; */
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.logo-text {

    font-size: 40px;
}

.navbar-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 100vw;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container img {
    border-radius: 50%;
    background-color: var(--primary-bg-color);
}

.list-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.list-item {
    list-style: none;
}

.list-item>a {
    /* width: 130px; */
    /* height: 35px; */
    /* border: 1px solid var(--secondary-bg-color-darker); */
    display: block;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title {
    text-align: center;
}

.page-title h1 {
    font-size: 60px;
    margin-bottom: 80px;
    color: var(--typhography-color);
}

.page-title>p {
    color: var(--typhography-color-light);
    font-size: 40px;
}

.home-container {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    min-height: 50vh;
}

.left-container {
    position: relative;
    width: 70%;
}

.banner-container {
    position: relative;
    box-sizing: border-box;
    /* padding: 0px 30px; */
    height: 400px;
    width: 100%;
    overflow: hidden;
}

.left-container .banner-container>img {
    object-fit: cover;
    height: 400px;
    width: inherit;
    border-radius: 8px;
    box-shadow: 11px 11px 5px 0px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: 11px 11px 5px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.33);
}

.right-container {
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 30%;
    color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.right-container>form {
    width: 80%;
    height: 100%;
    background: var(--primary-bg-color);
    padding: 30px 20px;
    border-radius: 8px;
}

.right-container form>p {
    /* padding-right: 50px; */
    margin-bottom: 70px;
}

.right-container label {
    display: block;
    margin-top: 1.1rem;
}

.right-container input {
    position: relative;
    width: 95%;
    height: 45px;
    padding-left: 10px;
    outline: none;
    border-radius: 12px;
}

.right-container box-icon{
    position: absolute;
    z-index: 2;
    right: 10px;
    visibility: hidden  ;
}

small{
    padding-left: 5px;
}
.visible{
    visibility: visible !important;
}

.input-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-container input[type=text] {
    border: 3px solid rgb(158, 153, 153);

}

.right-container select {
    width: 100%;
    height: 50px;
    padding-left: 10px;
}

.right-container input[type=submit] {
    background: hsla(333, 100%, 53%, 1);
    background: linear-gradient(0deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    background: -moz-linear-gradient(0deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FF0F7B", endColorstr="#F89B29", GradientType=1);
    color: #fff;
    border: 0px solid;
    width: 100%;
    cursor: pointer;
}

.arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    width: 10;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-left {
    left: 10px;
    z-index: 2;
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;

}

.arrow-right {
    right: 10px;
    z-index: 2;
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.dots_container {
    position: absolute;
    z-index: 2;
    display: flex;
    margin: 5px auto;
    width: fit-content;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.dots {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #ffffff;
    margin: 4px;
}

.dots:hover {
    background: #f64c72;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    margin: 0;
    opacity: 0;
    transition: 1s ease-in-out;
    overflow: hidden;
}

.slide img {
    background-size: contain;
    object-fit: cover;
    border-radius: 8px;
}

.quotes {
    display: block;
    font-size: 20px;
    margin: 20px 0;
    text-align: justify;
    hyphens: auto;
    word-spacing: -2px;
}

.user {
    border-radius: 50%;
    display: inline;
}

.username {
    display: inline-block;
    vertical-align: super;
    font-size: 20px;
    width: 200px;
}

.username span {
    display: block;
    margin-left: 20px;
}

.username span:first-child {
    font-weight: 600;
}

.username span:last-child {
    font-size: 16px;
    opacity: 0.7;
}

.package-container {
    min-height: 100vh;
    margin-bottom: 4rem;
}

.features-container {
    border-radius: 8px;
    display: grid;
    grid-template-areas:
        "one two"
        "three three"
    ;
    height: 500px;
    width: 500px;
    color: #fff;

}

.features-container .item-1 {
    grid-area: one;
    background-color: var(--primary-btn-color);
}

.features-container .item-2 {
    grid-area: two;
    background-color: var(--typhography-color-light);
}

.features-container .item-3 {
    grid-area: three;
    background-color: var(--secondary-bg-color-darker);
}

.hamburger {
    display: none;
    height: 35px;
    width: 35px;
    border: none;
    outline: none;
    position: relative;
    right: 0px;
    cursor: pointer;
    appearance: none;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--typhography-color-light);
    margin: 6px 0px;
    transition: .5s;
    border-radius: 25px
}

.hamburger.is_active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is_active::after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is_active .bar {
    opacity: 0;
}

.navbar-handphone {
    position: fixed;
    top: 0px;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-bg-color-darker);
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 98;
    gap: 2rem;
    padding-top: 100px;
    transition: .5s ease;
}

.navbar-handphone a {
    font-size: 20px;
    height: 65px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    color: #ffff;
    background: hsla(333, 100%, 53%, 1);
    background: linear-gradient(0deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    background: -moz-linear-gradient(0deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FF0F7B", endColorstr="#F89B29", GradientType=1);
}

.navbar-handphone h2 {
    font-size: 40px;
    margin: 0px;
    color: #e6d4d4;
}

.navbar-handphone.is_active {
    left: 0;
}

.glass {
    background: rgba(11, 11, 11, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(47, 47, 162, 0.3);
}

.highlight-container {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px;
    overflow: hidden;

}

.highlight-container .image-container {
    position: relative;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.highlight-container .image-container img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    image-orientation: flip;
}

.image-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    top: 0;
    left: 0;
}

.highlight-container .highlight-main {
    box-sizing: border-box;
    position: relative;
    display: flex;
    z-index: 3;
    color: #fff;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 30px 20px;
    font-size: 20px;

}

.highlight-container .highlight-main p {
    padding: 0px 50px;
    text-align: center;
    font-size: 16px;
}

.highlight-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 50%;
    float: right;
    color: #fff;
    height: 100%;
    list-style: none;
    padding: 0px;
    background-color: #3a3737;
    text-align: center;
    align-items: center;
}

.highlight-item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.highlight-item h3 {
    margin: 0;
}

.highlight-item:nth-child(2),
.highlight-item:nth-child(3) {
    background: #7270705c;
}

.about-us-container {
    position: relative;
    scroll-snap-align: start;
    position: relative;
    box-sizing: border-box;
    min-height: 100vh;
    margin-top: 80px;
    color: var(--typhography-color);
}

.about-us-wrapper {
    display: flex;
    justify-content: center;
}

.about-detail {
    flex: 1;
}

.about-images-container {
    position: relative;
    flex: 1;
    overflow: hidden;
    height: 500px;

}

.about-images {
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.about-us-container h1 {
    font-size: 40px;
    margin: 10px 20px;
}

.about-us-container p {
    color: var(--typhography-color-light);
    margin: 0px 20px;
}

.about-us-container li {
    list-style: none;
}

.about-us-container .toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 50px;
    background-color: #191919;
    color: #fff;
}

.accordion-container {
    padding: 0;
    width: 90%;
}

.accordion-wrapper {
    position: relative;
    max-height: 55px;
    overflow: hidden;
    user-select: none;

}

.accordion-wrapper.is_toggled {
    max-height: 1000px;
    border: 1px solid #000;
    margin-bottom: 20px;
}

.accordion-wrapper.is_toggled .chevron {
    transform: rotate(90deg);
    transition: all .5s;

}

.accordion-wrapper p {
    opacity: 0;
    padding: 10px 20px;
}

.accordion-wrapper.is_toggled p {
    padding: 10px 20px;
    opacity: 1;

}

.accordion-wrapper span {
    vertical-align: middle;
    user-select: none;
}


.card-container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card {
    height: 90%;
    width: 30%;
    background: #ffff;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: #000;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
}

.card-upper {
    position: relative;
    flex: 1;
    width: 100%;
}

.card-bottom {
    position: relative;
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.card-best {
    height: 100%;
    background-color: #191919;
    color: #fff;
}

.card-title {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-bg-color);
    margin-left: 50%;
    transform: translate(-50%, -20px);
    border-radius: 25px;
    text-align: center;
    color: #fff;
}

.package {
    font-size: 40px;
    text-align: justify;
    text-align-last: center;
    text-justify: distribute;
    word-spacing: -0.05em;
    hyphens: auto;
    -webkit-hyphens: auto;
    word-break: break-all;
}

.package-detail {
    font-size: 16px;
    padding: 0px 50px;
}

.feature-wrapper {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card button {
    position: absolute;
    background: none;
    border: 0px solid transparent;
    outline: 0px solid transparent;
    bottom: 0;
    box-sizing: border-box;
    padding: 0px;
    width: 100%;
    border-radius: 50% 50% 0px 0px;
    overflow: hidden;
}

.card a {
    display: block;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #191919;
    border-radius: 0px 0px 12px 12px;
}

.card img {
    vertical-align: middle;

}

.card-best a {
    background-color: var(--secondary-btn-color);
    color: #fff;
    height: 40px;

}

.card-best button {
    margin-top: 20px;
}

.call-container {
    position: relative;
    min-height: 70vh;
    background-color: var(--primary-bg-color);
    padding: 0px 100px;
    margin-top: 20px;
}

.call-container img {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.call-wrapper {
    min-height: 100%;
    padding-top: 150px;
    text-align: center;
    color: #fff;

}

.call-title {
    font-size: 45px;
    margin: 0px;
}

.call-title span {
    color: rgb(16, 226, 97);
}

.cta-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 20px;

}

.cta-container input[type="submit"] {
    border: 0px solid transparent;
    outline: 0px solid transparent;
    background-color: var(--primary-btn-color);
    color: #fff;
    width: 100px;
    padding: 0;
    cursor: pointer;
}

.cta-container input {
    width: 400px;
    border: none;
    appearance: none;
    height: 100%;
    padding: 0;
}

.call-wrapper p {
    margin-bottom: 0;
}

#cta_newsletter {
    padding-left: 20px;
}

#toTop {
    position: fixed;
    height: 50px;
    width: 50px;
    background-color: var(--primary-bg-color);
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 1024px) and (mid-width: 800px) {
    .package-container {
        min-height: 100%;
        margin-bottom: 200px;
        padding: 0px 20px;
    }

    .package-pricing {
        font-size: 30px;
    }

    .feature-wrapper {
        font-size: 12px;
    }

    .card p {
        margin: 0;
        font-size: 16px;
        padding: 0px 10px;
    }

    .card button {
        margin-top: 20px;
    }

    .card-container {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        grid-template-areas:
            "card card"
            "card-mid card-mid"
        ;
        column-gap: 1rem;
        height: 100%;
    }

    .card-best {
        grid-area: card-mid;
        min-width: 400px;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .card {
        min-width: 400px;
        min-height: 420px;
    }
    
}

@media only screen and (max-width: 900px) {
    .home-container {
        flex-direction: column;
    }

    .right-container input {
        width: calc(100% - 20px);
    }

    .left-container {
        box-sizing: border-box;
        width: 100%;
        padding: 0px 20px;
    }
    
    .right-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-container {
        padding: 10px 10px;
        position: fixed;

    }

    section {
        padding: 0;
    }

    .list-wrapper {
        display: none;
    }

    .page-title h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .page-title p {
        font-size: 16px;
    }

    .right-container {
        margin-top: 2rem;
    }

    .hamburger {
        display: block;
    }

    .highlight-container {
        flex-direction: column;
        border-radius: 0;
        padding: 0px 10px;
        min-height: 100vh;
        font-size: 14px;
    }

    .image-container {
        position: relative;
    }

    .highlight-main {
        position: relative;
        flex: 1;
        height: 100%;
        width: 100vw;
        padding: 0px;
        
    }
    
    .highlight-wrapper {
        width: 100%;
        margin: 0px;
    }

    .highlight-container .image-container {
        width: 100%;
    }

    .highlight-container .image-container img {
        object-fit: cover;
    }


    .card-container {
        box-sizing: content-box;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0px;
    }
    

    .card {
        min-width: 100%;
        margin-top: 30px;
        height: 500px;
    }

    .package-container {
        position: relative;
        min-height: 150vh;
        padding-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0px 20px;
    }

    .package-pricing {
        font-size: 30px;
    }

    .package-title {
        font-size: 30px;
    }

    .logo-text {
        color: #fff;
    }

    .card-best {
        margin-left: 0;
        transform: unset;
    }

    .call-container {
        padding: 20px 10px;
        min-height: 40vh;
    }

    .about-us-container {
        flex-direction: column;
        align-items: center;
    }

    .about-detail {
        align-items: center;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }

    .about-us-wrapper {
        flex-direction: column;
    }

}